* {
    box-sizing:border-box;
    margin:0;
}
body {
    font-family:arial;
}
h1 {
    text-align:center;
    font-size:3em;
}
.row {
    width:100%;
}
p {
    width:100%;
    
    margin-left:auto;
    margin-right: auto;
    padding:10px;
    
    clear:both;
}
.menuItemContainer {
    background-color:#999999;
    border:3px solid black;
    margin:10px;
    min-height:250px;
}
.menuItemTitle {
    float:right;
    padding: 5px 20px;
    border:3px solid black;
    font-size:2em;
    text-align: center;
    width:200px;
}
#chicken {
    background-color:pink;
}
#beef {
    background-color: red;
}
#sushi {
    background-color: tan;
}

@media (min-width:992px){
    .col-lg-4 {
        float:left;
    }
    .col-lg-4 {
        width:33.33%;
        
    }
}
@media (min-width:768px) and (max-width:991px){
    .col-md-6, .col-md-12 {
        float:left;
    }
    .col-md-6 {
        width:50%;
    }
    .col-md-12 {
        width:100%
    }
}